{% extends "admin/change_list_filter_confirm_sidebar.html" %} 
{% block object-tools-items %}
    {{ block.super }}
    <li>
        {% comment %} <a class="historylink" href="test_data/">My custom admin page</a> {% endcomment %}
        <li><a href="add-real-data/" class="grp-add-link grp-state-focus">Данные для всей БД </a></li>
        <li><a href="createTimeTable/" class="grp-add-link grp-state-focus">Сгенирировать расписание </a></li>
        {% comment %} <li><a href="clear/" class="grp-add-link grp-state-focus">Очистить БД </a></li> {% endcomment %}
    </li>
{% endblock %}



{% comment %} {% block content_title %}
{{ block.super }}
    <h1>ДАРОВА</h1>
{% endblock %} {% endcomment %}